html, body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

div[role="presentation"]{
    display: flex;
    align-items: center;
    justify-content: center;
}


#root {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 85px 1fr 35px;
    height: 100vh;
}


#root.content-login{
    display: block;
}

#root.content-login .content-app{
    height: 100%;
}


#root.content-login header, #root.content-login footer{
    display: none;
}



header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

header .name-master{
    padding: 5px 10px 0;
}

header .name-author{
    padding-right:10px;
}

header h1{
    margin: 0;
    padding: 5px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#root .main-content{
    border-top: 2px solid #00a6d4;
    background-color: #61dafb;
    padding: 20px 10px;
    box-sizing: border-box;
    height: 100%;
}


input#standard-basic-size-small{
    padding: 9px;
    background-color: white;
}
 button.button-search {
     margin-left: 10px;
 }

 h2.title-page{
     text-align: center;
 }


 .content-img-character img{
     border-radius: 5px;
 }


.card-act, .card-detail{
    width: 250px;
    margin: 10px;
}

.card-act .content-img {
    height: 140px;
}

.card-detail .content-img{
    height: 240px;
}

table {
    max-width: 600px;
}

.MuiTableContainer-root{
    max-width: 600px;
    margin: 0 auto;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: #00a6d4;
    color: white;
}

footer p{
    margin: 0px;
    font-size: 80%;
}


table thead{
    background-color: rgb(224, 224, 224);
}

@media screen and (max-width:420px) {

    body{
        grid-template-columns: auto;
        grid-template-rows: auto 1fr 35px;
    }


    nav ul.menu{
        flex-direction: column;
        text-align: center;
    }

    header h1{
        font-size: 1em;
    }

   

}


@media screen and (max-width:768px) {

    header .header-top{
        flex-direction: column;
        align-items: center;
    }

    header .header-top .titleModulo {
        text-align: center;
    }

    header h1{
        font-size: 1.4em;
    }


    nav ul.menu{
        justify-content: center;
    }


    #root .main-content {
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #root .main-content .card-act, #root .main-content .card-detail  {
        width: 100%;
    }

    #root .main-content .card-act > button {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    #root .main-content .card-act .content-img {
        width: 170px;
    }


    #root .main-content .card-detail {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content:center;
    }

    #root .main-content .card-detail .content-img {
        width: 180px;
        height: 180px;
    }

}
