@import "./styles.css";

main section.exercise{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card {
    box-sizing: border-box;
    border: 1px solid grey;
    background-color:rgb(243, 243, 243);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 130px 1fr 40px 35px;
    width: 200px;
    border-radius: 2px;
}

.card .img-card{
    overflow: hidden;
}

 .card .img-card img{
    height: 100%;
}
  
.card .body-card {
    padding: 0px 8px;
}

.card .body-card > h3{
    margin: 8px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card .body-card > p {
    font-size: 0.65em;
}

.card .date-card {
    padding: 5px 8px 0;
}


.card .date-card > p {
    text-align: right;
    font-size: 0.65em;
    font-weight: bold;
}

.card .date-card > p span {
    font-weight: normal;
    color: grey;
}

.card .button-card {
    padding: 0px 8px 8px;
    text-align: center;
}

.card .button-card button{
    width: 100%;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(170, 216, 181);
    border-radius: 5px;
    border: 1px solid white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}