html{

    /* Tema B */
    --color-base: #D38F81;
    --color-important:#D81515;
    --color-warning: #FFE5DA;
    --principal-Font:'Times New Roman', Times, serif;
    --secondary-Font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --box-shadow: 3px 3px 5px 3px rgba(94,94,94,0.73);
    --border-radius: 5px;

}